
<!DOCTYPE html>

<html>
  <head>
  <title>Agricultural Trends in India</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  iframe{ padding-left: 70px; }
  .formin { float: left; padding: 8px;}
  header {background-image: url("{{ url_for('static', filename='plant1.jpg') }}");  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  }
  header h1 {color: rgb(0, 255, 0);}
  header p {padding-right: 15px;}
  .w3-content h1 { color: green;}

  </style>
  
  </head>
  
  <body>
  
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-green w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    </div>
  

  </div>
  
  <!-- Header -->
  <header class="w3-container w3-green w3-center" style="padding:128px 16px;" >
    <h1 class="w3-margin w3-jumbo">Agricultural Trends in India</h1>
    <p class="w3-xlarge" align=right >by Divya Jyoti Samad</p>
  </header>
  

  <!-- zero Grid -->
  <div class="w3-row-padding w3-padding-32 w3-container" style="padding-left: 8px; padding-right: 8px;">
    <div class="w3-content">
      <h5 >Project Title</h5>
      <p  style='margin-left: 40px;'> Analyzing Agriculture in India and making strategic decisions based on it according to population</p>
      
      <h5 >Project Description</h5>
      <p style='margin-left: 40px;'> This analysis focuses on the agricultural sector in India and proposes strategic decision-making based on population trends. By examining the agricultural landscape, including crop production, farming techniques, and infrastructure, we aim to understand the challenges and opportunities associated with meeting the needs of India's growing population. By leveraging population data and demographic patterns, we can develop strategic plans that address food security, optimize resource allocation, and promote sustainable agricultural practices. Through a comprehensive understanding of the agricultural sector and population dynamics, our goal is to enhance productivity, ensure food sufficiency, and foster long-term growth for India's agricultural industry.</p>
  
  
        </div>
  </div>
  
  
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-32 w3-container" style="padding-left: 8px; padding-right: 8px;">
    <div class="w3-content">
        <h1 >Dashboard</h1>
    </div>
  </div>
  <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Fibm%2Bhack%2Fyearwise&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018a2227ae6e_00000000" width="1440" height="940" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
  <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Fibm%2Bhack%2Fseason&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018a36bdf6b5_00000003" width="1440" height="940" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

<br>
<br>
<br>
<br>
<br>
  
  <!-- Second Grid -->
  <div class="w3-row-padding  w3-padding-32 w3-container" style="padding-left: 8px; padding-right: 8px;">
    <div class="w3-content">
      <h1 >Report</h1>
      <P> Average yield of India from 1997 to 2020 is 39.21, which is expected to grow to 46.98 by 2025. Similiarly, Production in India is 18.31 billion tonnes in year 2020, which is expected to reach 26.887 bilion tonnes by 2025. </P>
      <p>BISWANATH, MAJULI and HOJAI has the highest yield among all districts. Over all districts, the average of Yield is 80.59.         </p>
      <p>Over all districts, the average of Area (Hectare) is nearly twelve thousand. BARMER has highest area among  all districts. Cultivable Area is highest in Punjab, followed by Maharashtra and Rajasthan.Over all states, the average of Area (Hectare) is nearly twelve thousand. Out of all Season, land used in producing khariff and rabi crop is highest, and the portion of land devoted to them seems to be increasing at a mild rate.</p>
      <p>Winter has the highest yield followed by Summer , khariff, rabi and autumn, as of 2020. Out of 56 crop, 53 are grown in khariff and rabi, 49 are grown in whole year, 37 in summer, 26  in autumn and 27 in winter. </p>
      <div>
        <p>Top 5 highest yielding Crop in each Season</p>
        <table class="w3-table w3-striped w3-border">
          <thead>
          <tr class="w3-green">
            <th>Khariff</th>
            <th>Autumn</th>
            <th>Rabi</th>
            <th>Whole year</th>
            <th>Summer</th>
            <th>Winter</th>
          </tr>
          </thead>
          <tr>
            <td>Coconut</td>
            <td>Sugarcane</td>
            <td>Sugarcane</td>
            <td>Coconut</td>
            <td>Banana</td>
            <td>Sugarcane</td>
          </tr>
          <tr>
            <td>Sugarcane</td>
            <td>Banana</td>
            <td>Tapioca</td>
            <td>Sugarcane</td>
            <td>Sugarcane</td>
            <td>Banana</td>
          </tr>
          <tr>
            <td>Banana</td>
            <td>Maize</td>
            <td>Potato</td>
            <td>Banana</td>
            <td>Onion</td>
            <td>Potato</td>
          </tr>
          <tr>
            <td>Onion</td>
            <td>Tapioca</td>
            <td>Onion</td>
            <td>Tapioca</td>
            <td>Potato</td>
            <td>Arhar/Tur</td>
          </tr>
          <tr>
            <td>Tapioca</td>
            <td>Sannhamp</td>
            <td>Banana</td>
            <td>Potato</td>
            <td>Tapioca</td>
            <td>
              Sweet Potato</td>
          </tr>
          </table>
      </div>
      <p>Overall Highest yielding crop are coconut, sugarcane, banana, tapioca, onion, potato, Jute.</p>
  
      
    </div>
  </div>

      <iframe style=" margin-left: 200px; " src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2Fibm%2Bhack%2Freport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="1024" height="1620" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

<br>
<br>
<br>
<br>
<br>
 
  
  <!-- Third Grid -->
  <div class="w3-row-padding  w3-padding-32 w3-container" style="padding-left: 8px; padding-right: 8px;">
    <div class="w3-content">
        <h1 >Story</h1>
  
      
    </div>
  </div>
  <iframe style="margin-left: 150px; "  src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2Fibm%2Bhack%2Fstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=-1&amp;sceneTime=0" width="1200" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

          <br>
          <br>
          <br>
          <br>
          <br>

  <div class="w3-row-padding  w3-padding-32 w3-container" style="padding-left: 8px; padding-right: 8px;">
    <div class="w3-content">
      <h1>Crop Prediction Model </h1>
      
      <p>This a crop prediction model which uses scikit-learn library's RandomForestRegressor to predict yield when provided with following data. The model has an average error of ±4.513% in the predicted value.</p>
      <p> <strong> Model Performance Metrics</strong> <br>
      - MAE : 9.332530385568257 <br>
        - RMSE : 220.81791491136772 <br>
        - R² : 0.9532387287803635</p>

      <form id="myform" action="" method="post" style="clear: both;">
        <fieldset>
          
          <div class="formin">
          <label for="state">State</label><br>
          <input id="state" type="text" name="state" list="statel">
          <datalist id="statel">
            <option value="Andhra Pradesh"> 
              <option value="Assam"> 
              <option value="Bihar"> 
              <option value="Gujarat"> 
              <option value="Haryana"> 
              <option value="Madhya Pradesh"> 
              <option value="Maharashtra"> 
              <option value="Meghalaya"> 
              <option value="Odisha"> 
              <option value="Punjab"> 
              <option value="Rajasthan"> 
              <option value="West Bengal"> 
              <option value="Kerala"> 
              <option value="Mizoram"> 
              <option value="Arunachal Pradesh"> 
              <option value="Goa"> 
              <option value="Jammu and Kashmir"> 
              <option value="Karnataka"> 
              <option value="Manipur"> 
              <option value="Nagaland"> 
              <option value="Sikkim"> 
              <option value="Uttar Pradesh"> 
              <option value="Delhi"> 
              <option value="Himachal Pradesh"> 
              <option value="Puducherry"> 
              <option value="Tamil Nadu"> 
              <option value="Tripura"> 
              <option value="Dadra and Nagar Haveli"> 
              <option value="Chandigarh"> 
              <option value="Daman and Diu"> 
              <option value="Chhattisgarh"> 
              <option value="Andaman and Nicobar Islands"> 
              <option value="Uttarakhand"> 
              <option value="Jharkhand"> 
              <option value="Telangana"> 
              <option value="Laddakh"> 
          </datalist>
        </div> 
    
          
          <div class="formin">
          <label for="district">District</label><br>
          <input id="district" type="text" name="district" list="districtl">
          <datalist id="districtl">
            <option value="ADILABAD"> 
              <option value="ANANTAPUR"> 
              <option value="EAST GODAVARI"> 
              <option value="GUNTUR"> 
              <option value="KADAPA"> 
              <option value="KARIMNAGAR"> 
              <option value="KHAMMAM"> 
              <option value="KRISHNA"> 
              <option value="KURNOOL"> 
              <option value="MAHBUBNAGAR"> 
              <option value="MEDAK"> 
              <option value="NALGONDA"> 
              <option value="NIZAMABAD"> 
              <option value="PRAKASAM"> 
              <option value="RANGAREDDI"> 
              <option value="SPSR NELLORE"> 
              <option value="SRIKAKULAM"> 
              <option value="VISAKHAPATANAM"> 
              <option value="VIZIANAGARAM"> 
              <option value="WARANGAL"> 
              <option value="WEST GODAVARI"> 
              <option value="BARPETA"> 
              <option value="BONGAIGAON"> 
              <option value="CACHAR"> 
              <option value="DARRANG"> 
              <option value="DHEMAJI"> 
              <option value="DHUBRI"> 
              <option value="DIBRUGARH"> 
              <option value="DIMA HASAO"> 
              <option value="GOALPARA"> 
              <option value="GOLAGHAT"> 
              <option value="HAILAKANDI"> 
              <option value="JORHAT"> 
              <option value="KAMRUP"> 
              <option value="KARBI ANGLONG"> 
              <option value="KARIMGANJ"> 
              <option value="KOKRAJHAR"> 
              <option value="LAKHIMPUR"> 
              <option value="MARIGAON"> 
              <option value="NAGAON"> 
              <option value="NALBARI"> 
              <option value="SIVASAGAR"> 
              <option value="SONITPUR"> 
              <option value="TINSUKIA"> 
              <option value="ROHTAS"> 
              <option value="ARARIA"> 
              <option value="DUMKA"> 
              <option value="GAYA"> 
              <option value="GOPALGANJ"> 
              <option value="KATIHAR"> 
              <option value="KISHANGANJ"> 
              <option value="MADHEPURA"> 
              <option value="MUZAFFARPUR"> 
              <option value="PAKUR"> 
              <option value="PASHCHIM CHAMPARAN"> 
              <option value="PURBI CHAMPARAN"> 
              <option value="PURNIA"> 
              <option value="RANCHI"> 
              <option value="SAHARSA"> 
              <option value="SAHEBGANJ"> 
              <option value="SAMASTIPUR"> 
              <option value="SARAN"> 
              <option value="SUPAUL"> 
              <option value="VAISHALI"> 
              <option value="BANKA"> 
              <option value="BEGUSARAI"> 
              <option value="BHAGALPUR"> 
              <option value="BOKARO"> 
              <option value="DARBHANGA"> 
              <option value="DEOGHAR"> 
              <option value="GODDA"> 
              <option value="KHAGARIA"> 
              <option value="MADHUBANI"> 
              <option value="SITAMARHI"> 
              <option value="SIWAN"> 
              <option value="WEST SINGHBHUM"> 
              <option value="AHMADABAD"> 
              <option value="AMRELI"> 
              <option value="BANAS KANTHA"> 
              <option value="BHARUCH"> 
              <option value="BHAVNAGAR"> 
              <option value="GANDHINAGAR"> 
              <option value="JAMNAGAR"> 
              <option value="JUNAGADH"> 
              <option value="KACHCHH"> 
              <option value="KHEDA"> 
              <option value="MAHESANA"> 
              <option value="PANCH MAHALS"> 
              <option value="RAJKOT"> 
              <option value="SABAR KANTHA"> 
              <option value="SURAT"> 
              <option value="SURENDRANAGAR"> 
              <option value="VADODARA"> 
              <option value="BHIWANI"> 
              <option value="FATEHABAD"> 
              <option value="HISAR"> 
              <option value="JHAJJAR"> 
              <option value="JIND"> 
              <option value="KAITHAL"> 
              <option value="MAHENDRAGARH"> 
              <option value="REWARI"> 
              <option value="ROHTAK"> 
              <option value="SIRSA"> 
              <option value="SONIPAT"> 
              <option value="BETUL"> 
              <option value="CHHINDWARA"> 
              <option value="DEWAS"> 
              <option value="DHAR"> 
              <option value="HOSHANGABAD"> 
              <option value="JHABUA"> 
              <option value="KHANDWA"> 
              <option value="KHARGONE"> 
              <option value="RATLAM"> 
              <option value="SEHORE"> 
              <option value="AHMEDNAGAR"> 
              <option value="AKOLA"> 
              <option value="AMRAVATI"> 
              <option value="AURANGABAD"> 
              <option value="BEED"> 
              <option value="BULDHANA"> 
              <option value="CHANDRAPUR"> 
              <option value="DHULE"> 
              <option value="JALGAON"> 
              <option value="JALNA"> 
              <option value="KOLHAPUR"> 
              <option value="LATUR"> 
              <option value="NAGPUR"> 
              <option value="NANDED"> 
              <option value="NASHIK"> 
              <option value="OSMANABAD"> 
              <option value="PARBHANI"> 
              <option value="PUNE"> 
              <option value="SANGLI"> 
              <option value="SATARA"> 
              <option value="SOLAPUR"> 
              <option value="WARDHA"> 
              <option value="YAVATMAL"> 
              <option value="EAST GARO HILLS"> 
              <option value="SOUTH GARO HILLS"> 
              <option value="WEST GARO HILLS"> 
              <option value="BALANGIR"> 
              <option value="BALESHWAR"> 
              <option value="BHADRAK"> 
              <option value="CUTTACK"> 
              <option value="GANJAM"> 
              <option value="JAGATSINGHAPUR"> 
              <option value="JAJAPUR"> 
              <option value="KALAHANDI"> 
              <option value="KENDRAPARA"> 
              <option value="KENDUJHAR"> 
              <option value="KHORDHA"> 
              <option value="KORAPUT"> 
              <option value="MAYURBHANJ"> 
              <option value="NUAPADA"> 
              <option value="PURI"> 
              <option value="SUNDARGARH"> 
              <option value="AMRITSAR"> 
              <option value="BATHINDA"> 
              <option value="FARIDKOT"> 
              <option value="FIROZEPUR"> 
              <option value="LUDHIANA"> 
              <option value="MANSA"> 
              <option value="MOGA"> 
              <option value="MUKTSAR"> 
              <option value="PATIALA"> 
              <option value="SANGRUR"> 
              <option value="AJMER"> 
              <option value="ALWAR"> 
              <option value="BANSWARA"> 
              <option value="BHARATPUR"> 
              <option value="BHILWARA"> 
              <option value="BIKANER"> 
              <option value="CHITTORGARH"> 
              <option value="CHURU"> 
              <option value="GANGANAGAR"> 
              <option value="HANUMANGARH"> 
              <option value="JAISALMER"> 
              <option value="JALORE"> 
              <option value="JHUNJHUNU"> 
              <option value="JODHPUR"> 
              <option value="NAGAUR"> 
              <option value="PALI"> 
              <option value="RAJSAMAND"> 
              <option value="SIKAR"> 
              <option value="SIROHI"> 
              <option value="24 PARAGANAS SOUTH"> 
              <option value="24 PARAGANAS NORTH"> 
              <option value="BANKURA"> 
              <option value="BIRBHUM"> 
              <option value="COOCHBEHAR"> 
              <option value="DARJEELING"> 
              <option value="DINAJPUR DAKSHIN"> 
              <option value="DINAJPUR UTTAR"> 
              <option value="HOOGHLY"> 
              <option value="HOWRAH"> 
              <option value="JALPAIGURI"> 
              <option value="MALDAH"> 
              <option value="MEDINIPUR EAST"> 
              <option value="MEDINIPUR WEST"> 
              <option value="MURSHIDABAD"> 
              <option value="NADIA"> 
              <option value="PURBA BARDHAMAN"> 
              <option value="PURULIA"> 
              <option value="ALAPPUZHA"> 
              <option value="ERNAKULAM"> 
              <option value="IDUKKI"> 
              <option value="KANNUR"> 
              <option value="KASARAGOD"> 
              <option value="KOLLAM"> 
              <option value="KOTTAYAM"> 
              <option value="KOZHIKODE"> 
              <option value="MALAPPURAM"> 
              <option value="PALAKKAD"> 
              <option value="PATHANAMTHITTA"> 
              <option value="THIRUVANANTHAPURAM"> 
              <option value="THRISSUR"> 
              <option value="WAYANAD"> 
              <option value="AIZAWL"> 
              <option value="LUNGLEI"> 
              <option value="CHITTOOR"> 
              <option value="HYDERABAD"> 
              <option value="CHANGLANG"> 
              <option value="DIBANG VALLEY"> 
              <option value="EAST KAMENG"> 
              <option value="EAST SIANG"> 
              <option value="LOHIT"> 
              <option value="LOWER SUBANSIRI"> 
              <option value="PAPUM PARE"> 
              <option value="TAWANG"> 
              <option value="TIRAP"> 
              <option value="UPPER SIANG"> 
              <option value="UPPER SUBANSIRI"> 
              <option value="WEST KAMENG"> 
              <option value="WEST SIANG"> 
              <option value="BHOJPUR"> 
              <option value="BUXAR"> 
              <option value="CHATRA"> 
              <option value="DHANBAD"> 
              <option value="EAST SINGHBUM"> 
              <option value="GARHWA"> 
              <option value="GIRIDIH"> 
              <option value="GUMLA"> 
              <option value="HAZARIBAGH"> 
              <option value="JAMUI"> 
              <option value="JEHANABAD"> 
              <option value="KAIMUR (BHABUA)"> 
              <option value="KODERMA"> 
              <option value="LAKHISARAI"> 
              <option value="LOHARDAGA"> 
              <option value="MUNGER"> 
              <option value="NALANDA"> 
              <option value="NAWADA"> 
              <option value="PALAMU"> 
              <option value="PATNA"> 
              <option value="SHEIKHPURA"> 
              <option value="SHEOHAR"> 
              <option value="NORTH GOA"> 
              <option value="SOUTH GOA"> 
              <option value="DANG"> 
              <option value="VALSAD"> 
              <option value="AMBALA"> 
              <option value="FARIDABAD"> 
              <option value="GURGAON"> 
              <option value="KARNAL"> 
              <option value="PANCHKULA"> 
              <option value="PANIPAT"> 
              <option value="YAMUNANAGAR"> 
              <option value="KURUKSHETRA"> 
              <option value="ANANTNAG"> 
              <option value="BADGAM"> 
              <option value="BARAMULLA"> 
              <option value="DODA"> 
              <option value="JAMMU"> 
              <option value="KATHUA"> 
              <option value="KUPWARA"> 
              <option value="POONCH"> 
              <option value="PULWAMA"> 
              <option value="RAJAURI"> 
              <option value="SRINAGAR"> 
              <option value="UDHAMPUR"> 
              <option value="KARGIL"> 
              <option value="LEH LADAKH"> 
              <option value="BELLARY"> 
              <option value="BENGALURU URBAN"> 
              <option value="CHIKMAGALUR"> 
              <option value="CHITRADURGA"> 
              <option value="DAKSHIN KANNAD"> 
              <option value="DHARWAD"> 
              <option value="HASSAN"> 
              <option value="KODAGU"> 
              <option value="KOLAR"> 
              <option value="MANDYA"> 
              <option value="MYSORE"> 
              <option value="SHIMOGA"> 
              <option value="TUMKUR"> 
              <option value="UTTAR KANNAD"> 
              <option value="BELGAUM"> 
              <option value="BIDAR"> 
              <option value="BIJAPUR"> 
              <option value="GULBARGA"> 
              <option value="RAICHUR"> 
              <option value="BANGALORE RURAL"> 
              <option value="BALAGHAT"> 
              <option value="BASTAR"> 
              <option value="BHIND"> 
              <option value="BHOPAL"> 
              <option value="BILASPUR"> 
              <option value="CHHATARPUR"> 
              <option value="DAMOH"> 
              <option value="DATIA"> 
              <option value="DURG"> 
              <option value="GUNA"> 
              <option value="GWALIOR"> 
              <option value="INDORE"> 
              <option value="JABALPUR"> 
              <option value="MANDSAUR"> 
              <option value="MORENA"> 
              <option value="NARSINGHPUR"> 
              <option value="PANNA"> 
              <option value="RAIPUR"> 
              <option value="RAISEN"> 
              <option value="RAJGARH"> 
              <option value="RAJNANDGAON"> 
              <option value="REWA"> 
              <option value="SAGAR"> 
              <option value="SATNA"> 
              <option value="SEONI"> 
              <option value="SHAHDOL"> 
              <option value="SHAJAPUR"> 
              <option value="SHIVPURI"> 
              <option value="SIDHI"> 
              <option value="SURGUJA"> 
              <option value="TIKAMGARH"> 
              <option value="UJJAIN"> 
              <option value="VIDISHA"> 
              <option value="MANDLA"> 
              <option value="BHANDARA"> 
              <option value="GADCHIROLI"> 
              <option value="RAIGAD"> 
              <option value="RATNAGIRI"> 
              <option value="THANE"> 
              <option value="MUMBAI"> 
              <option value="SINDHUDURG"> 
              <option value="CHANDEL"> 
              <option value="CHURACHANDPUR"> 
              <option value="THOUBAL"> 
              <option value="SENAPATI"> 
              <option value="TAMENGLONG"> 
              <option value="BISHNUPUR"> 
              <option value="IMPHAL EAST"> 
              <option value="IMPHAL WEST"> 
              <option value="UKHRUL"> 
              <option value="EAST JAINTIA HILLS"> 
              <option value="EAST KHASI HILLS"> 
              <option value="RI BHOI"> 
              <option value="WEST KHASI HILLS"> 
              <option value="CHAMPHAI"> 
              <option value="KOLASIB"> 
              <option value="KOHIMA"> 
              <option value="MOKOKCHUNG"> 
              <option value="MON"> 
              <option value="PHEK"> 
              <option value="TUENSANG"> 
              <option value="WOKHA"> 
              <option value="ZUNHEBOTO"> 
              <option value="ANUGUL"> 
              <option value="BARGARH"> 
              <option value="BOUDH"> 
              <option value="DEOGARH"> 
              <option value="DHENKANAL"> 
              <option value="GAJAPATI"> 
              <option value="JHARSUGUDA"> 
              <option value="KANDHAMAL"> 
              <option value="MALKANGIRI"> 
              <option value="NABARANGPUR"> 
              <option value="NAYAGARH"> 
              <option value="RAYAGADA"> 
              <option value="SAMBALPUR"> 
              <option value="SONEPUR"> 
              <option value="FATEHGARH SAHIB"> 
              <option value="GURDASPUR"> 
              <option value="HOSHIARPUR"> 
              <option value="JALANDHAR"> 
              <option value="KAPURTHALA"> 
              <option value="NAWANSHAHR"> 
              <option value="RUPNAGAR"> 
              <option value="BARAN"> 
              <option value="BUNDI"> 
              <option value="DAUSA"> 
              <option value="DHOLPUR"> 
              <option value="DUNGARPUR"> 
              <option value="JAIPUR"> 
              <option value="JHALAWAR"> 
              <option value="KARAULI"> 
              <option value="KOTA"> 
              <option value="SAWAI MADHOPUR"> 
              <option value="TONK"> 
              <option value="UDAIPUR"> 
              <option value="BARMER"> 
              <option value="EAST DISTRICT"> 
              <option value="NORTH DISTRICT"> 
              <option value="SOUTH DISTRICT"> 
              <option value="WEST DISTRICT"> 
              <option value="AGRA"> 
              <option value="ALIGARH"> 
              <option value="ALLAHABAD"> 
              <option value="ALMORA"> 
              <option value="AMBEDKAR NAGAR"> 
              <option value="AMROHA"> 
              <option value="AURAIYA"> 
              <option value="AZAMGARH"> 
              <option value="BAGHPAT"> 
              <option value="BAHRAICH"> 
              <option value="BALLIA"> 
              <option value="BALRAMPUR"> 
              <option value="BANDA"> 
              <option value="BARABANKI"> 
              <option value="BAREILLY"> 
              <option value="BASTI"> 
              <option value="BIJNOR"> 
              <option value="BUDAUN"> 
              <option value="BULANDSHAHR"> 
              <option value="CHAMOLI"> 
              <option value="CHANDAULI"> 
              <option value="CHITRAKOOT"> 
              <option value="DEHRADUN"> 
              <option value="DEORIA"> 
              <option value="ETAH"> 
              <option value="ETAWAH"> 
              <option value="FAIZABAD"> 
              <option value="FARRUKHABAD"> 
              <option value="FATEHPUR"> 
              <option value="FIROZABAD"> 
              <option value="GAUTAM BUDDHA NAGAR"> 
              <option value="GHAZIABAD"> 
              <option value="GHAZIPUR"> 
              <option value="GONDA"> 
              <option value="GORAKHPUR"> 
              <option value="HAMIRPUR"> 
              <option value="HARDOI"> 
              <option value="HARIDWAR"> 
              <option value="HATHRAS"> 
              <option value="JALAUN"> 
              <option value="JAUNPUR"> 
              <option value="JHANSI"> 
              <option value="KANNAUJ"> 
              <option value="KANPUR DEHAT"> 
              <option value="KANPUR NAGAR"> 
              <option value="KAUSHAMBI"> 
              <option value="KHERI"> 
              <option value="KUSHI NAGAR"> 
              <option value="LALITPUR"> 
              <option value="LUCKNOW"> 
              <option value="MAHARAJGANJ"> 
              <option value="MAHOBA"> 
              <option value="MAINPURI"> 
              <option value="MATHURA"> 
              <option value="MAU"> 
              <option value="MEERUT"> 
              <option value="MIRZAPUR"> 
              <option value="MORADABAD"> 
              <option value="MUZAFFARNAGAR"> 
              <option value="NAINITAL"> 
              <option value="PAURI GARHWAL"> 
              <option value="PILIBHIT"> 
              <option value="PITHORAGARH"> 
              <option value="PRATAPGARH"> 
              <option value="RAE BARELI"> 
              <option value="RAMPUR"> 
              <option value="SAHARANPUR"> 
              <option value="SANT KABEER NAGAR"> 
              <option value="SANT RAVIDAS NAGAR"> 
              <option value="SHAHJAHANPUR"> 
              <option value="SHRAVASTI"> 
              <option value="SIDDHARTH NAGAR"> 
              <option value="SITAPUR"> 
              <option value="SONBHADRA"> 
              <option value="SULTANPUR"> 
              <option value="TEHRI GARHWAL"> 
              <option value="UDAM SINGH NAGAR"> 
              <option value="UNNAO"> 
              <option value="UTTAR KASHI"> 
              <option value="VARANASI"> 
              <option value="Delhi"> 
              <option value="KANGRA"> 
              <option value="SIRMAUR"> 
              <option value="SOLAN"> 
              <option value="UNA"> 
              <option value="BAGALKOT"> 
              <option value="CHAMARAJANAGAR"> 
              <option value="DAVANGERE"> 
              <option value="GADAG"> 
              <option value="HAVERI"> 
              <option value="KOPPAL"> 
              <option value="BARWANI"> 
              <option value="HARDA"> 
              <option value="KARAIKAL"> 
              <option value="PONDICHERRY"> 
              <option value="COIMBATORE"> 
              <option value="CUDDALORE"> 
              <option value="DHARMAPURI"> 
              <option value="DINDIGUL"> 
              <option value="ERODE"> 
              <option value="KANCHIPURAM"> 
              <option value="KARUR"> 
              <option value="MADURAI"> 
              <option value="NAGAPATTINAM"> 
              <option value="NAMAKKAL"> 
              <option value="PERAMBALUR"> 
              <option value="PUDUKKOTTAI"> 
              <option value="RAMANATHAPURAM"> 
              <option value="SALEM"> 
              <option value="SIVAGANGA"> 
              <option value="THANJAVUR"> 
              <option value="THENI"> 
              <option value="THIRUVARUR"> 
              <option value="THOOTHUKUDI"> 
              <option value="TIRUCHIRAPPALLI"> 
              <option value="TIRUNELVELI"> 
              <option value="TIRUVANNAMALAI"> 
              <option value="VELLORE"> 
              <option value="VILLUPURAM"> 
              <option value="VIRUDHUNAGAR"> 
              <option value="DHALAI"> 
              <option value="NORTH TRIPURA"> 
              <option value="SOUTH TRIPURA"> 
              <option value="WEST TRIPURA"> 
              <option value="DADRA AND NAGAR HAVELI"> 
              <option value="Goa"> 
              <option value="UDUPI"> 
              <option value="CHANDIGARH"> 
              <option value="Daman and Diu"> 
              <option value="SHIMLA"> 
              <option value="MANDI"> 
              <option value="CHAMBA"> 
              <option value="KINNAUR"> 
              <option value="KULLU"> 
              <option value="LAHUL AND SPITI"> 
              <option value="DANTEWADA"> 
              <option value="DHAMTARI"> 
              <option value="DINDORI"> 
              <option value="JANJGIR-CHAMPA"> 
              <option value="JASHPUR"> 
              <option value="KABIRDHAM"> 
              <option value="KANKER"> 
              <option value="KATNI"> 
              <option value="KORBA"> 
              <option value="KOREA"> 
              <option value="MAHASAMUND"> 
              <option value="NEEMUCH"> 
              <option value="SHEOPUR"> 
              <option value="UMARIA"> 
              <option value="MAHE"> 
              <option value="YANAM"> 
              <option value="THIRUVALLUR"> 
              <option value="THE NILGIRIS"> 
              <option value="KANNIYAKUMARI"> 
              <option value="BAGESHWAR"> 
              <option value="CHAMPAWAT"> 
              <option value="RUDRA PRAYAG"> 
              <option value="HINGOLI"> 
              <option value="NANDURBAR"> 
              <option value="WASHIM"> 
              <option value="GONDIA"> 
              <option value="RAIGARH"> 
              <option value="DIMAPUR"> 
              <option value="NICOBARS"> 
              <option value="NORTH AND MIDDLE ANDAMAN"> 
              <option value="SOUTH ANDAMANS"> 
              <option value="KURUNG KUMEY"> 
              <option value="LOWER DIBANG VALLEY"> 
              <option value="ANUPPUR"> 
              <option value="KRISHNAGIRI"> 
              <option value="ANAND"> 
              <option value="DOHAD"> 
              <option value="NARMADA"> 
              <option value="PATAN"> 
              <option value="PORBANDAR"> 
              <option value="BURHANPUR"> 
              <option value="MAMIT"> 
              <option value="SAIHA"> 
              <option value="ARWAL"> 
              <option value="NAVSARI"> 
              <option value="LATEHAR"> 
              <option value="SARAIKELA KHARSAWAN"> 
              <option value="SIMDEGA"> 
              <option value="JAMTARA"> 
              <option value="ASHOKNAGAR"> 
              <option value="LAWNGTLAI"> 
              <option value="ANJAW"> 
              <option value="SERCHHIP"> 
              <option value="BAKSA"> 
              <option value="CHIRANG"> 
              <option value="UDALGURI"> 
              <option value="KAMRUP METRO"> 
              <option value="NARAYANPUR"> 
              <option value="MEWAT"> 
              <option value="PALGHAR"> 
              <option value="TARN TARAN"> 
              <option value="S"> 
              <option value="SAMBA"> 
              <option value="BARNALA"> 
              <option value="Andaman and Nicobar Islands"> 
              <option value="CHIKBALLAPUR"> 
              <option value="RAMANAGARA"> 
              <option value="REASI"> 
              <option value="KISHTWAR"> 
              <option value="RAMBAN"> 
              <option value="KULGAM"> 
              <option value="BANDIPORA"> 
              <option value="GANDERBAL"> 
              <option value="SHOPIAN"> 
              <option value="TAPI"> 
              <option value="ALIRAJPUR"> 
              <option value="DELHI_TOTAL"> 
              <option value="PALWAL"> 
              <option value="KHUNTI"> 
              <option value="RAMGARH"> 
              <option value="SINGRAULI"> 
              <option value="KIPHIRE"> 
              <option value="LONGLENG"> 
              <option value="PEREN"> 
              <option value="ARIYALUR"> 
              <option value="TIRUPPUR"> 
              <option value="KASGANJ"> 
              <option value="YADGIR"> 
              <option value="AMETHI"> 
              <option value="BEMETARA"> 
              <option value="BALOD"> 
              <option value="KONDAGAON"> 
              <option value="SUKMA"> 
              <option value="SURAJPUR"> 
              <option value="BALODA BAZAR"> 
              <option value="GARIYABAND"> 
              <option value="MUNGELI"> 
              <option value="FAZILKA"> 
              <option value="PATHANKOT"> 
              <option value="GOMATI"> 
              <option value="KHOWAI"> 
              <option value="SEPAHIJALA"> 
              <option value="UNAKOTI"> 
              <option value="SHAMLI"> 
              <option value="HAPUR"> 
              <option value="SAMBHAL"> 
              <option value="NORTH GARO HILLS"> 
              <option value="SOUTH WEST GARO HILLS"> 
              <option value="LONGDING"> 
              <option value="DIU"> 
              <option value="DAMAN"> 
              <option value="AGAR MALWA"> 
              <option value="SOUTH WEST KHASI HILLS"> 
              <option value="WEST JAINTIA HILLS"> 
              <option value="ARAVALLI"> 
              <option value="BOTAD"> 
              <option value="CHHOTAUDEPUR"> 
              <option value="DEVBHUMI DWARKA"> 
              <option value="GIR SOMNATH"> 
              <option value="MAHISAGAR"> 
              <option value="MORBI"> 
              <option value="ALIPURDUAR"> 
              <option value="NAMSAI"> 
              <option value="CHARKI DADRI"> 
              <option value="KRA DAADI"> 
              <option value="SIANG"> 
              <option value="BHADRADRI"> 
              <option value="JAGITIAL"> 
              <option value="JANGOAN"> 
              <option value="JAYASHANKAR"> 
              <option value="JOGULAMBA"> 
              <option value="KAMAREDDY"> 
              <option value="KOMARAM BHEEM ASIFABAD"> 
              <option value="MAHABUBABAD"> 
              <option value="MANCHERIAL"> 
              <option value="MEDCHAL"> 
              <option value="NAGARKURNOOL"> 
              <option value="NIRMAL"> 
              <option value="PEDDAPALLI"> 
              <option value="RAJANNA"> 
              <option value="SANGAREDDY"> 
              <option value="SIDDIPET"> 
              <option value="SURYAPET"> 
              <option value="VIKARABAD"> 
              <option value="WANAPARTHY"> 
              <option value="WARANGAL URBAN"> 
              <option value="YADADRI"> 
              <option value="PASCHIM BARDHAMAN"> 
              <option value="MUMBAI SUBURBAN"> 
              <option value="JHARGRAM"> 
              <option value="KALIMPONG"> 
              <option value="MULUGU"> 
              <option value="NARAYANAPET"> 
              <option value="KAMLE"> 
              <option value="LOWER SIANG"> 
              <option value="BAGALKOTE"> 
              <option value="BALLARI"> 
              <option value="BELAGAVI"> 
              <option value="CHAMARAJANAGARA"> 
              <option value="CHIKKABALLAPURA"> 
              <option value="CHIKKAMAGALURU"> 
              <option value="KALABURAGI"> 
              <option value="MYSURU"> 
              <option value="SHIVAMOGGA"> 
              <option value="TUMAKURU"> 
              <option value="UTTARA KANNADA"> 
              <option value="VIJAYAPURA"> 
              <option value="YADAGIRI"> 
              <option value="TUTICORIN"> 
              <option value="HANUMAKONDA"> 
              <option value="MEDCHAL MALKAJGIRI"> 
              <option value="BISWANATH"> 
              <option value="CHARAIDEO"> 
              <option value="HOJAI"> 
              <option value="MAJULI"> 
              <option value="WEST KARBI ANGLONG"> 
              <option value="DAKSHINA KANNADA"> 
              <option value="CHENGALPATTU"> 
              <option value="KALLAKURICHI"> 
              <option value="RANIPET"> 
              <option value="TENKASI"> 
              <option value="TIRUPATHUR"> 
              <option value="LEPARADA"> 
              <option value="PAKKE KESSANG"> 
              <option value="SHI YOMI"> 
              <option value="SOUTH SALMARA MANCACHAR"> 
              <option value="GAURELLA-PENDRA-MARWAHI"> 
              <option value="NIWARI"> 
              <option value="SHAHID BHAGAT SINGH NAGAR"> 
              <option value="CHENNAI">
          </datalist>
        </div> 
    
          
          <div class="formin">
          <label for="crop">Crop</label><br>
          <input id="crop" type="text" name="crop" list="cropl">
          <datalist id="cropl">
            <option value="Cotton(lint)"> 
              <option value="Mesta"> 
              <option value="Jute"> 
              <option value="Coconut"> 
              <option value="Arhar/Tur"> 
              <option value="Bajra"> 
              <option value="Castor seed"> 
              <option value="Dry chillies"> 
              <option value="Gram"> 
              <option value="Groundnut"> 
              <option value="Horse-gram"> 
              <option value="Jowar"> 
              <option value="Maize"> 
              <option value="Moong(Green Gram)"> 
              <option value="Other Rabi pulses"> 
              <option value="Other Kharif pulses"> 
              <option value="Ragi"> 
              <option value="Rice"> 
              <option value="Sesamum"> 
              <option value="Small millets"> 
              <option value="Sugarcane"> 
              <option value="Sunflower"> 
              <option value="Tobacco"> 
              <option value="Urad"> 
              <option value="Wheat"> 
              <option value="Oilseeds total"> 
              <option value="Rapeseed &Mustard"> 
              <option value="Soyabean"> 
              <option value="Arecanut"> 
              <option value="Linseed"> 
              <option value="Niger seed"> 
              <option value="Onion"> 
              <option value="Potato"> 
              <option value="Sweet potato"> 
              <option value="Tapioca"> 
              <option value="Turmeric"> 
              <option value="Banana"> 
              <option value="Barley"> 
              <option value="Coriander"> 
              <option value="Garlic"> 
              <option value="Ginger"> 
              <option value="Safflower"> 
              <option value="Sannhamp"> 
              <option value="Moth"> 
              <option value="Black pepper"> 
              <option value="Cardamom"> 
              <option value="Cashewnut"> 
              <option value="Peas & beans (Pulses)"> 
              <option value="Masoor"> 
              <option value="Khesari"> 
              <option value="Other Cereals"> 
              <option value="other oilseeds"> 
              <option value="Guar seed"> 
              <option value="Cowpea(Lobia)"> 
              <option value="Dry Ginger"> 
              <option value="Other Summer Pulses"> 
          </datalist>
        </div>
    
          
          <div class="formin">
          <label for="season">Season</label><br>
          <input id="season" type="text" name="season" list="seasonl">
          <datalist id="seasonl">
            <option value="Kharif"> 
              <option value="Whole Year"> 
              <option value="Autumn"> 
              <option value="Rabi"> 
              <option value="Summer"> 
              <option value="Winter"> 
          </datalist>
        </div >
    
        <div class="formin">
          <label for="year">Year</label> <br>
          <input type="number" id="year" name="year"><br>
        </div>
    
        <div class="formin">
          <label for="production">Production in tonnes</label> <br>
          <input type="number" step="0.000001" id="production" name="production"><br>
        </div>
    
        <div class="formin">
          <label for="area">Area in hectare</label> <br>
          <input type="number" step="0.000001" id="area" name="area"><br>
        </div>

        <div class="formin" style="clear: both;float: none;">
          <button type="submit">Predict</button>
          <div id="prediction">{{ pred }}</div>
        </div>
    <!-- {{ pred }} -->
          
        </fieldset>
      </form>
      


    </div>
  </div>
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#myForm').submit(function(event) {
        event.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/',
          data: $(this).serialize()
        }) 

      });
    });
  </script>
  
  </body>
  
  
</html>
